# Visual Studio
.vs/
*.user
*.suo

# Ignore uploaded files
wwwroot/uploads/

# Build output
bin/
obj/

# Logs
*.log

# Publish
published/

# Secrets
appsettings.Development.json

# NuGet
*.nupkg
packages/

# Others
*.db
*.db-shm
*.db-wal